﻿@model Homeshare.WEB.Models.DisplayBiensMembre

@{
    ViewBag.Title = "BiensParMembre";
}


<h1>
    Biens de @Model.Membre.Nom
</h1>

@foreach (var item in Model.ListeBiens)
{

    <h2>@Html.DisplayFor(modelItem => item.Titre)</h2><br />
    <p>@Html.DisplayFor(modelItem => item.DescCourte)</p><br />
    <p>@Html.DisplayFor(modelItem => item.DescLong)</p><br />
    <p>@Html.DisplayFor(modelItem => item.NombrePerson)</p><br />
    <p>@Html.DisplayFor(modelItem => item.Ville)</p><br />
    <p>@Html.DisplayFor(modelItem => item.Pays)</p><br />
    @*if (item.Photo != null)
        {
            <img src="~/img/Libelle/@item.Photo" width='500' height='300' />

        }*@
}
<br />
<br />
<a href="/Home/Index">Home</a>