﻿@{
    Html.RenderPartial("~/Views/Shared/_Header.cshtml");
}
@{
    ViewBag.Title = "Connection";
}
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <link href="~/Content/Form.css" rel="stylesheet" type="text/css" />
</asp:Content>


<div id='container'>
    <div class='signup'>
        <h3>Sign in</h3>
        <form action="~/Membre/Connection" method="post">
            <input type='text' name='login' placeholder='Login:' />
            <input type='text' name='password' placeholder='Password:' />
            <input type='submit' value='submit' />
        </form>
    </div>

</div>
<br />
<br />
@{
    Html.RenderPartial("~/Views/Shared/_Footer.cshtml");
}