﻿@{
    Html.RenderPartial("~/Views/Shared/_Header.cshtml");
}
@{
    ViewBag.Title = "CreateAccount";
}
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <link href="~/Content/Form.css" rel="stylesheet" type="text/css" />
</asp:Content>


<div id='container'>
    <div class='signup'>
        <h3>Create account</h3>
        <form action="~/Membre/CreateAccount" method="post">
            <input type='text' name='nom' placeholder='Nom:' />
            <input type='text' name='prenom' placeholder='Prenom:' />
            <input type='text' name='email' placeholder='Email:' />
            <input type='text' name='pays' placeholder='Pays:' />
            <input type='text' name='telephone' placeholder='Telephone:' />
            <input type='text' name='login' placeholder='Login:' />
            <input type='text' name='password' placeholder='Password:' />
            <input type='submit' value='Create' />
        </form>
    </div>
    </div>
    <br />
    <br />
    @{
        Html.RenderPartial("~/Views/Shared/_Footer.cshtml");
    }
