﻿@model Homeshare.DAL.Membre
@{
    Html.RenderPartial("~/Views/Shared/_Header.cshtml");
}
@{
    ViewBag.Title = "Details of the member";
}

<h2>Details of : @Model.Nom</h2>

<div>
    <h4>Membre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idMembre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idMembre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateMembre", new { id = Model.idMembre }, null) |
    @Html.ActionLink("List of biens", "BiensParMembre", "Membre", new { id = Model.idMembre }, null) |
    @Html.ActionLink("Ajouter un bien", "AjouterBien", "Membre", new { id = Model.idMembre },null) |
    @Html.ActionLink("Back to List", "ListMembres", "Membre")
</p>
