﻿@model Homeshare.DAL.BienEchange

@{
    ViewBag.Title = "DetailsBien";
}

<h2>House in @Model.Ville</h2>

<div>
    <h4>BienEchange</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescCourte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescCourte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssuranceObligatoire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssuranceObligatoire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisabledDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisabledDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMembre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMembre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
