﻿@model IEnumerable<Homeshare.DAL.BienEchange>
@{
    Html.RenderPartial("~/Views/Shared/_Header.cshtml");
}
@{
    ViewBag.Title = "ListBiens";
}

<h2>ListBiens</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdBien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescCourte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescLong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescCourte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CodePostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "DetailsBien", new { id=item.IdBien }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
