﻿@{
    Html.RenderPartial("~/Views/Shared/_Header.cshtml");
}
@{
    ViewBag.Title = "MembrePage";
}

<h2>Member Page</h2>


<a href="/Membre/ListMembres" class="btn btn-primary">List of members</a>
<br />
<br />
<a href="/Membre/ListBiens" class="btn btn-primary">List of houses</a>
<br />
<br />