﻿

#container {
    width: 840px;
    margin: 15px 15px 30px 0;
}

.whysign {
    float: left;
    background-color: white;
    width: 480px;
    height: 347px;
    border-radius: 5px;
    padding-top: 20px;
    padding-right: 10px;
    border: blue;
}

.signup {
    float: left;
    width: 300px;
    padding: 5px 2px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid sandybrown;
}

[type=text] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid sandybrown;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    font-size: 1em;
    color: black;
}

[type=submit] {
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: sandybrown;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 1em;
}

[type='text']:focus {
    outline: none;
    border-color:cadetblue;
}

h3 {
    color: cadetblue;
    font-weight: 700;
    font-size: 2em;
}
