﻿<style>
    .footer {
        display: inline-flex;
        background-color: antiquewhite;
        width: 1000px;
        height:100px;
        padding:20px;
    }

</style>

<div class="footer">
    Contact
    Facebook
    Maps
    Links
</div>

<div class="clearfix"></div>
