﻿<style>
.logo{
    display:inline-flex;
    background-color:antiquewhite;
    width:1000px;
}
 .logo p{
     font-size:30px;
     color:cadetblue;
     margin-top:70px;
     margin-left:50px;
 }

</style>

<div class="logo">
    <a href="index.html"><img src="~/img/logo/house.jpg" alt="house" /></a>
    <p>Let's share</p>
</div>

<div class="clearfix"></div>
