﻿@{
    Html.RenderPartial("~/Views/Shared/_Header.cshtml");
}
@{
    ViewBag.Title = "Home Page";
}

<p>@Html.ActionLink("Connect", "Connection", "Membre")</p>

<p>@Html.ActionLink("Create an account", "CreateAccount", "Membre")</p>